<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); -%>
  <body>
    <%- include('./layout/header'); -%>

    <div class="collection_container">
        <ul class="collection_list">
            <li class="collection_item"><a href="./product.html" class="collection_link">OPTICAL</a></li>
            <li class="collection_item active"><a href="#" class="collection_link">SUNGLASSES</a></li>
            <li class="collection_item"><a href="#" class="collection_link">FUNCTIONAL</a></li>
        </ul>
    </div>

    <div class="product_banner">
        <div class="product_banner_left product2_banner_left"></div>
        <div class="product_banner_right product2_banner_right"></div>
    </div>

    <div class="container product_container">
      <h1 class="product_title">2020 NEW COLLECTION</h1>
      <p class="product_subtitle">賽璐珞鈦金屬混合鏡框</p>

      <ul class="product_list">
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
        <li class="product_item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="glasses" class="product_img">
          <div class="product_info">
            <p class="product_num">BJ41600S</p>
            <p class="product_price">NTD3,490</p>
          </div>
          <div class="product_colors">
            <div class="product_color color1"></div>
            <div class="product_color color2"></div>
          </div>
        </li>
      </ul>

      <ul class="product_page">
        <li class="page_item"><a href="#" class="page_link">上一頁</a></li>
        <li class="page_item"><a href="#" class="page_link">1</a></li>
        <li class="page_item active"><a href="#" class="page_link">2</a></li>
        <li class="page_item"><a href="#" class="page_link">3</a></li>
        <li class="page_item"><a href="#" class="page_link">4</a></li>
        <li class="page_item"><a href="#" class="page_link">5</a></li>
        <li class="page_item"><a href="#" class="page_link">下一頁</a></li>
      </ul>
    </div>

    


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>